
<!DOCTYPE html>
<html>
<head>
    <title>Admin Home</title>
</head>
<body>
    <a href="sign_out" style="float: right;"><button>Sign Out</button></a>
    <h1>Admin Home</h1>
    <div>
        <a href="admin_book_insert_route"><button>Insert Book</button></a>
        <a href="admin_update_due_date"><button>Update Rent Days</button></a>
        <a href="admin_delete_book"><button>Delete Book</button></a>
        <a href="admin_display_books"><button>Display Books</button></a>

    </div>
</body>
</html>