<!DOCTYPE html>
<html>
<head>
    <title>Book Selection</title>
</head>
<body>
    <a href="user_home" style="float: right;"><button>Return</button></a>
    <h1>Book Selection</h1>
    
    <ul>
        {% for book in books %}
        <li>
            {{ book.title }} by {{ book.author }} (ISBN: {{ book.ISBN }})
            {% if book.status == 'Available' %}
                <a href="/rent_book/{{ book.ISBN }}"><button>Rent</button></a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
