<!DOCTYPE html>
<html>
<head>
    <title>Flight Creation</title>
</head>
<body>
    <h1>Book Creation</h1>
    <form action="/flight_creation"  method="POST" >
        <p><label for="start">Starting Destination:</label>
        <input type="text" id="start" name="start"><br><br></p>
        <p><label for="stop">Ending Destimation:</label>
        <input type="text" id="stop" name="stop"><br><br>
        <p><label for="flight_date">Flight Date:</label>
        <input type="date" id="flight_date" name="flight_date"><br><br></p>
        <p><label for="business_price">Business class price:</label>
        <input type="number" id="business_price" name="business_price"><br><br></p>
        <p><label for="economy_price">Economy class price:</label>
        <input type="number" id="economy_price" name="economy_price"></p>
        <p><label for="business_seats">Available business seats:</label>
        <input type="number" id="business_seats" name="business_seats"></p>
        <p><label for="economy_seats">Available economy seats:</label>
        <input type="number" id="economy_seats" name="economy_seats"></p>
        <input type="submit" value="Import Flight">
    </form>
</body>
</html>
