<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/style.css?v=<?php echo time(); ?>">
    <title>Sign-in Page</title>
</head>
<body>
    
    <h1>Sign-in Page</h1>
    <h4>Enter your credentials</h4>

    <form action="/sign_in2" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Sign-in">
    </form>
</body>
</html>