<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/style.css?v=<?php echo time(); ?>">
    <title>Registration</title>
</head>
<body>
    
    <h1>Registration Form</h1>
    <form action="/sign_up2"  method="POST" >
        <p><label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br></p>
        <p><label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname"><br><br>
        <p><label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br></p>
        <p><label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br></p>
        <p><label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday"></p>
        <input type="submit" value="Create Account">
    </form>
</body>
</html>
