<!DOCTYPE html>
<html>
<head>
    <title>Book Selection</title>
</head>
<body>
    <a href="user_home" style="float: right;"><button>Return</button></a>
    <h1>Book Selection</h1>
    
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.status }}</td>
            <td>
                {% if book.status == 'Available' %}
                    <a href="/user_rent_book/{{ book.ISBN }}"><button>Rent</button></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
