<!DOCTYPE html>
<html>
<head>
    <title>User Rents</title>
</head>
<body>
    <h1>User Rents</h1>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Rent Date</th>
        </tr>
        {% for rent in user_rents %}
        <tr>
            <td><a href="{{ url_for('view_book', isbn=rent.book_ISBN) }}">{{ rent.book_ISBN }}</a></td>
            <td>{{ rent.rent_date.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/user_home"><button>Return to User Home</button></a>
</body>
</html>
