<!DOCTYPE html>
<html>
<head>
    <title>User Home Page</title>
</head>
<body>
    <a href="sign_out" style="float: right;"><button>Sign Out</button></a>
    <h2>User Page</h2>
        <!-- Welcome message calling the user by email part before @ -->
    <h4>Welcome, {{ session['email'].split('@')[0] }}! This is your user home page.</h4> 
    <div>
        <a href="user_book_display"><button>Display Books</button></a>
        <a href="user_search"><button>Search Books</button></a>
        <a href="user_book_selection"><button>Rent a book</button></a>
        <a href="user_rents"><button>Your rents</button></a>
        <a href="user_return_books"><button>Return books</button></a>
        <a href="user_delete_account"><button>Delete your Account</button></a>        


    </div>

</body>
</html>

